body {
  line-height: 1.5;
  margin-top: 0px;
}
.info{
  letter-spacing: 10%;
}
.uotlook, .pdf{
  position: relative; 
  top: -2px; 
  height:30px;
  margin-right: 20px;
}
.pdf{
  margin-bottom: 20px;
}
.logo:hover{
text-decoration:none;
}
.linkedin{
  position:relative;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.div_top{
  margin-top: 30px;
}
.bg{
  background-color: rgb(240, 240, 240);
  padding: 5%;    
  border-radius:30px;
}
a{
  word-wrap: break-word;
}
.aside.p{
  text-align: justify; 
}
.emdisable{
  pointer-events: none;
}
.bio{
  text-align: justify;
}
.row{
  background-color: rgb(250, 250, 250);
  padding: 1.5%;
  border-radius:30px;
}
.main {
  align-items: center;
}
.container{
  padding-top: 3%;
}

.badge-img{
width: 30px;
height: 30px;

}

/* .prof-img {
  width: 300px;
  height: 300px;
}

.prof-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */